<div id="footer">
	<p class="links">
		<a href="#" class="rss" title="Subscribe to entries web feed">Entries (<abbr title="Really Simple Syndication">RSS</abbr>)</a>
		&nbsp;&nbsp;&nbsp;
		<a href="#" class="rss" title="Subscribe to comments web feed">Entries (<abbr title="Really Simple Syndication">RSS</abbr>)</a>
		&nbsp;&nbsp;&nbsp;
	</p>
	<p class="legal">
		&copy;2013 Concrete. All Rights Reserved.
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Developed by <a>Fuyanpeng</a>
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Email <a>fuyanpeng@yeah.net</a> </p>
</div>
